html {
  scroll-behavior: smooth;
}
.top-nav-collapse {
  background-color: #faedcd;
}

.navbar:not(.top-nav-collapse) {
  background: #faedcd;
}
@media (max-width: 450px) {
    .margins {
      margin-right: 1rem;
      margin-left: 1rem; }
     }
/* Navbar items */
.nav-link{
    position: relative;
  }
  .nav-link::after{
    content:'';
    transition: all 0.5s;
    opacity: 0;
    height: 1.5px;
    width: 0;
    background-color: #603808;
    position: absolute;
    bottom: 0;
    left: 9px;
  }
  .nav-link:hover::after{
    opacity: 1;
    width: 70%;
  }
  .navbar ul li a{
   font-weight: 400;
   color:#603808;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(96, 56, 8, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
  .logo{
    width : 250px;
  }
  @media screen and (max-width: 767px){
    .logo{
        width:200px;
      }
  }
  .navbar{
    box-shadow: none;
  }
  .custom_margin{
    margin-top: 100px;
  }
   /* section title */
   .section-title {
    padding-bottom: 40px;
    text-align: start;
    margin-left: 50px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    color: #9b9a9a;
    font-family: "Poppins", sans-serif;
    font-style: italic;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #603808;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
   
    font-family: "Poppins", sans-serif;
    color: #603808;
  }
  /* section title ends */
/* gallery starts */

.col-margin {
  margin-right: 3rem;
  border: 2px solid #603808;  
}


.row [class*="col-"]:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .col-margin {
      margin-right: 0;  
  }
  
   }
  @media (min-width:1200px){
    .fixed-size {
      width: 235px; 
      height: 300px; 
      object-fit: contain; 
    }
  }
  @media screen and (min-width:540px) and (max-width:1100px){
    .fixed-size {
      width: 160px; 
      height: 300px; 
      object-fit: contain; 
    }
  }
  
   
  /* gallery ends */
  /* contact */
  #contact{
    background: url("../img/EsaadImages/contactbg.jpeg") no-repeat center center;
    background-size: cover;
  }
  iframe{
    border-radius: 5px; 
  } 
  .map{
    position: relative;
    width: 100%;
    padding-top: 50%;
    filter: invert(100%);
  }
  .map iframe{
    position: absolute;
    top: 30px;
    left: 35px;
    width: 80%;
    height: 80%;
  }
  #contact a{
    background-color: transparent !important;
  }
  .custom-text-color{
    color:#603808;
    font-weight: 500;
  }
  /* contact ends */
    
  /* back to top */
  .arrow-icon {
    position: fixed;
    right: 20px;
    z-index: 99;
    bottom: 45px;
    background-color: #603808;
  }
  /* back to top ends */