@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

html {
  scroll-behavior: smooth;
}
.custom-button {
  background-color: rgb(0, 0, 0);
}
.custom-button:hover {
  background-color: rgba(28, 28, 28, 0.4);
}
.custom-heading {
  font-family: "Dancing Script", cursive;
  color: #d00000;
}
#intro {
  background: url("../img/floridaREAL/floridaRealIntro1.png") no-repeat center
    center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: white !important;
}

.navbar:not(.top-nav-collapse) {
  background: white !important;
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}
#intro {
  margin-top: 120px;
}
.site-bg-img {
  height: 70vh;
  min-height: 480px;
  max-height: 1080px;
}

.hm-gradient .site-bg-img {
  background: white;
  background: linear-gradient(
    45deg,
    rgba(53, 53, 53, 0.5),
    rgba(124, 124, 124, 0.5) 100%
  );
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.navbar {
  box-shadow: none;
}

/* Navbar items */
.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  transition: all 0.5s;
  opacity: 0;
  height: 2px;
  width: 0;
  background-color: #d00000;
  position: absolute;
  bottom: 0;
  left: 9px;
}
.nav-link:hover::after {
  opacity: 1;
  width: 70%;
}
.navbar ul li a {
  font-weight: 400;
  color: black;
}
.logo {
  width: 250px;
}
/* intro section */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(96, 56, 8, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

@media screen and (max-width: 767px) {
  .logo {
    width: 170px;
  }
}

/* ends */

/* about section */
.img-container {
  padding: 0;
  margin: 0;
}
.img-fluid {
  margin: 0;
}

/* about section ends */

/* properties */
#properties {
  padding: 80px 0;
  background: url("../img/floridaREAL/aboutE.png") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#properties::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#properties {
  background-attachment: fixed;
}

/* properties ends */

/* career */
.custom-margin {
  margin-top: 200px;
}
/* career ends */

/* back to top */
.arrow-icon {
  position: fixed;
  right: 20px;
  z-index: 99;
  bottom: 45px;
}
