html {
  scroll-behavior: smooth; }
.wow {
    visibility: hidden;
  }
.custom-button{
  background-color: rgba(28, 28, 28, 0.75);
}
.custom-button:hover{
  background-color: rgba(28, 28, 28, 0.4);
}
.custom-padding{
  padding-top: 70px;
}
/* preloader starts */
#preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;  /*Change this to match your website's background color */
  z-index: 9999;
  transition: transform 2s ease-in-out; /* Adjust the transition duration */
}

.move-left {
  transform: translateX(-100%);
}

#preloader img {
  width: 300px; /* Adjust size as needed */
  height: auto;
}

#progress-bar-container {
  width: 40%; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
  background-color: #e0e0e0; /* Background color of the progress bar container */
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color: black; /* Progress bar color */
  transition: width 3s; /* Transition time should match the animation duration in script.js */
  border-radius: 5px;
}
.move-left {
  transform: translateX(-100%);
}
/* preloader ends */

/* #intro {
  background: url("../img/tatweerImages/intro.jpg") no-repeat center center;
  background-size: cover; } */
  #intro {
    position: relative;
    overflow: hidden;
  }
  
  .site-bg-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .site-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  
  .site-bg-img {
    position: relative;
    z-index: 1;
  }
  
  .white-text {
    color: #fff;
   
  }
  #intro h1{
    font-weight: 600;
  }
  .font-custom {
    font-family: 'YourCustomFont', sans-serif;
  }
  
  @media (max-width: 768px) {
    .font-custom {
      font-size: 24px;
    }
  
    #intro h1 {
      font-size: 28px;
    }
  }
  /* end */
.top-nav-collapse {
  background-color: white !important; }

.navbar:not(.top-nav-collapse) {
  background: white ; }

.top-nav-collapse .nav-link {
    color: black!important;
  }
  .top-nav-collapse .nav-link::after{
    background-color: black !important;
  } 
  .nav-link{
    position: relative;
  }
  .nav-link::after{
    content:'';
    transition: all 0.5s;
    opacity: 0;
    height: 2px;
    width: 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 9px;
  }
  .nav-link:hover::after{
    opacity: 1;
    width: 70%;
  }
  .logo{
    width: 220px;
  }
  .navbar .navbar-collapse ul {
    background-color: white;
}
.navbar .navbar-collapse .nav-link{
  color: black !important;
  font-weight: 400;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
  
/* #intro .h6 {
  font-weight: 300;
  line-height: 1.7; } */

  

 .site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }

/*.hm-gradient .site-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(1, 1, 1, 0.7), rgba(52, 52, 52, 0.7) 100%); } */

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; }
   }

.navbar{
  box-shadow: none;
}

/* Navbar items */

/* intro section */
.font-custom{
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.01ch;
}


@media screen and (max-width: 767px){
  .font-custom{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
  }
 
  #about p{
    line-height: 1.5;
  }
  .logo{
    width: 200px;
  }
}
/* ends */
 
/* about */

  
/* .lead {
  padding: 0 2rem;
}



.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
 
 
}

.video-container video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

@media (max-width: 991px) {
  .lead {
    padding: 0 1rem;
    font-weight: 400;
  }
  .video-container {
    padding: 0 1rem;
  }
} */
 #about{
  background: url("../img/tatweerImages/pattern.png") no-repeat;
    background-position: center right;
    
  
 }
 #about h1{
  margin-bottom: 50px;
 }
 #about p{
  line-height: 2;
  font-size: 18px;
  padding-top: 50px;
  margin-bottom: 0;
 }
.play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(222, 222, 222);
  cursor: pointer;
  display: none; /* Initially hidden as video is autoplayed */
}

.play-button i {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 10px 15px;
}
#about-video{
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  
}
.video-container:hover .play-button {
  display: block;
}
@media (max-width:991px){
  #about{
    background: url("../img/tatweerImages/pattern.png") no-repeat;
      background-position: top right;
    
   }
   #about h1{
    margin-bottom: 5px;
   }
}
@media (min-width: 992px) {
  .container.about {
    max-width: 100% !important;
  }
 
  .about-text {
    padding-right: calc(((100% - 960px) / 2) + .75rem);
  }
}

@media (min-width: 1200px) {
  .about-text {
    padding-right: calc(((100% - 1140px) / 2) + .75rem);
  }
}

@media (min-width: 1400px) {
  .about-text {
    padding-right: calc(((100% - 1320px) / 2) + .75rem);
  }
}
/* about ends */

/* section title */
.section-title h1 {
  position: relative;
  display: inline-block;
  padding: 0 60px;
}

.section-title.text-start h1 {
  padding-left: 0;
}

.section-title h1::before,
.section-title h1::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 5px;
  bottom: 0;
  background: rgba(28, 28, 28, 0.75);
}

.section-title h1::before {
  left: 0;
}

.section-title h1::after {
  right: 0;
}

.section-title.text-start h1::before {
  display: none;
}
/* section title ends */
/* section-title1 starts */


.section-title1 h1::before,
.section-title1 h1::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 5px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
}
/* sectionn-title1 ends */

/* message section */
#message .italicPara {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
 
  #message {
    background: url("../img/tatweerImages/msgbg3.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  #message::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  
    #message {
      background-attachment: fixed;
    }
  .blockclass {
    position: relative;
    line-height: 2;
    font-size: 20px;
    color: rgb(226, 226, 226);
  }
 
  .blockclass:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 28px;
    color: #E5E5E5;
    top: 0;
    left: 0;
    z-index: 0;
  }
/* message ends */
.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
}

.custom-flex > div {
  margin: 10px;
  max-width: 350px;
}

.custom-flex img {
  width: 100%;
  height: 200px;
}
.overlay-class {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.overlay-class h5{
  font-weight: 400;
  
}


.overlay {
  position: absolute;
  bottom: -100%; 
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.8);
  transition: bottom 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  color: white;
}

.overlay-class:hover .overlay {
  bottom: 0; 
}

/* For large screens (3 items per row) */
@media (min-width: 1200px) {
  .custom-flex > div {
      flex: 1 1 350px;
  }
}

/* For medium screens (2 items per row) */
@media (min-width: 768px) and (max-width: 1200px) {
  .custom-flex > div {
      flex: 1 1 300px;
  }
}


/* For small screens (1 item per row) */
@media (max-width: 767px) {
  .custom-flex > div {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

/* project ends */

/* partners starts */
.brand{
  transition: all 0.2s ease-in-out;
  margin-bottom: 25px;
}
.brand:hover{
  transform: scale(1.2);
}
@media (max-width:767px){
  .brand{
    margin-left: 90px;
    
  }
}
@media (max-width: 550px){
  .brand{
    margin-left: 40px;
  }
}
.custom-brand-a:hover{
   border-bottom: 2px solid #d3a500;
}

/* partners ends */
/* contact */

iframe{
  border-radius: 5px; 
} 
.map{
  position: relative;
  width: 100%;
  padding-top: 50%;
}
.map iframe{
  position: absolute;
  top: 30px;
  left: 35px;
  width: 80%;
  height: 80%;
}
#contact {
  background: url("../img/tatweerImages/contact.png") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


  #contact {
    background-attachment: fixed;
  }
  #contact .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

#contact .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

#contact .btn.btn-link:hover {
    color: #ffb600;
    transform: scale(1.02);
    box-shadow: none;
    text-decoration: none;
}

/* contact ends */

/* back to top */
.arrow-icon {
  position: fixed;
  right: 20px;
  z-index: 99;
  bottom: 45px;
}