html {
  scroll-behavior: smooth; }
.custom-button{
  background-color: rgba(28, 28, 28, 0.75);
}
.custom-button:hover{
  background-color: rgba(28, 28, 28, 0.4);
}

#intro {
  background: url("../img/tatweerImages/intro.jpg") no-repeat center center;
  background-size: cover; }

.top-nav-collapse {
  background-color: rgba(28, 28, 28, 0.7)!important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }


@media (max-width: 768px) {
  .navbar .navbar-collapse ul{
    background-color: rgba(28, 28, 28, 0.75);
  } }

#intro .h6 {
  font-weight: 300;
  line-height: 1.7; }

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }

.hm-gradient .site-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(1, 1, 1, 0.7), rgba(52, 52, 52, 0.7) 100%); }

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; }
   }

.navbar{
  box-shadow: none;
}

/* Navbar items */
.nav-link{
  position: relative;
}
.nav-link::after{
  content:'';
  transition: all 0.5s;
  opacity: 0;
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 9px;
}
.nav-link:hover::after{
  opacity: 1;
  width: 70%;
}
/* intro section */
.font-custom{
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.01ch;
}


@media screen and (max-width: 767px){
  .font-custom{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
  }
 
  #about p{
    line-height: 1.5;
  }
}
/* ends */
 
/* about */
@media screen and (min-width: 767px){
  #about p{
    line-height: 2;
  }
}
/* about ends */

/* section title */
.section-title h1 {
  position: relative;
  display: inline-block;
  padding: 0 60px;
}

.section-title.text-start h1 {
  padding-left: 0;
}

.section-title h1::before,
.section-title h1::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 5px;
  bottom: 0;
  background: rgba(28, 28, 28, 0.75);
}

.section-title h1::before {
  left: 0;
}

.section-title h1::after {
  right: 0;
}

.section-title.text-start h1::before {
  display: none;
}
/* section title ends */
/* section-title1 starts */


.section-title1 h1::before,
.section-title1 h1::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 5px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
}
/* sectionn-title1 ends */

/* message section */
#message .italicPara {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
 
  #message {
    background: url("../img/tatweerImages/msgbg3.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  #message::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  
    #message {
      background-attachment: fixed;
    }
  .blockclass {
    position: relative;
    line-height: 1.5;
    font-size: 18px;
    color: rgb(226, 226, 226);
  }
 
  .blockclass:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 28px;
    color: #E5E5E5;
    top: 0;
    left: 0;
    z-index: 0;
  }
/* message ends */

/* projects starts */
.card:hover{
  box-shadow: 0 4px 6px rgba(28, 28, 28, 0.75);
  transform: scale(1.02);
}
.card {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.overlay {
  position: absolute;
  bottom: -100%; /* Initially hide the overlay below the card */
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: bottom 1s ease; /* Transition effect for bottom property */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  color: white;
}

.card:hover .overlay {
  bottom: 0; /* Move overlay up to cover the card */
}
/* project ends */

/* partners starts */
.brand{
  transition: all 0.2s ease-in-out;
  margin-bottom: 25px;
}
.brand:hover{
  transform: scale(1.2);
}
@media (max-width:767px){
  .brand{
    margin-left: 90px;
    
  }
}
@media (max-width: 550px){
  .brand{
    margin-left: 50px;
  }
}
.custom-brand-a:hover{
   border-bottom: 2px solid #d3a500;
}

/* partners ends */
/* contact */

iframe{
  border-radius: 5px; 
} 
.map{
  position: relative;
  width: 100%;
  padding-top: 50%;
}
.map iframe{
  position: absolute;
  top: 30px;
  left: 35px;
  width: 80%;
  height: 80%;
}
#contact {
  background: url("../img/tatweerImages/contact.png") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


  #contact {
    background-attachment: fixed;
  }


/* contact ends */

/* back to top */
.arrow-icon {
  position: fixed;
  right: 20px;
  z-index: 99;
  bottom: 45px;
}